# See https://help.github.com/articles/ignoring-files for more about ignoring files.

/developer/vault-password.txt
/machines/*
/data/*
/projects/*
!/machines/provision.yml
!/data/.keep
!/projects/.keep
